<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
</head>

<body>
    <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Charles Babbage</h1>
    <img src="img\Charles-Babbage.jpg" alt="babbage">
    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora <br>
        mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p>
    <a href="/"
        style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Volver
        a Inicio</a>
</body>

</html>