<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
</head>

<body>
    <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Tim Berners-Lee</h1>
    <img src="img\Tim-Berners-Lee-Dia-Internauta-770x513.jpg" alt="berners_lee">
    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación <br> británico,
        conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre <br> un cliente y un
        servidor usando el protocolo HTTP en diciembre de 1990.</p>
    <a href="/"
        style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Volver
        a Inicio</a>

</body>

</html>