<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joan Clarke</title>
</head>

<body>
    <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Joan Clarke</h1>
    <img src="img\joan_clarke.jpg" alt="clarke">
    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Joan Elisabeth Lowther Murray, nacida como <br> Joan Elisabeth Lowther Clarke (Londres<br>, 24 de junio de 1917 – Oxford,
        4 de septiembre<br> de 1996) fue una criptoanalista y numismática<br> británica que trabajó en Bletchley Park durante<br> la
        Segunda Guerra Mundial.

        Fue la única mujer<br> que trabajó en el equipo del matemático Alan<br> Turing en el proyecto Enigma, que desencriptó<br>
        las comunicaciones secretas de la Alemania nazi.<br> Su papel en este proceso le valió premios y<br> citaciones, como el
        nombramiento como miembro<br> de la Orden del Imperio Británico (MBE), en 1946.</p>
    <a href="/"
        style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Volver
        a Inicio</a>

</body>

</html>